/* shadows-into-light-regular - latin */
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: url('template/google/fonts/shadows-into-light-v7-latin/shadows-into-light-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Shadows Into Light'), local('ShadowsIntoLight'),
       url('template/google/fonts/shadows-into-light-v7-latin/shadows-into-light-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('template/google/fonts/shadows-into-light-v7-latin/shadows-into-light-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('template/google/fonts/shadows-into-light-v7-latin/shadows-into-light-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('template/google/fonts/shadows-into-light-v7-latin/shadows-into-light-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('template/google/fonts/shadows-into-light-v7-latin/shadows-into-light-v7-latin-regular.svg#ShadowsIntoLight') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('template/google/fonts/open-sans-v15-latin/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('template/google/fonts/open-sans-v15-latin/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('template/google/fonts/open-sans-v15-latin/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('template/google/fonts/open-sans-v15-latin/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('template/google/fonts/open-sans-v15-latin/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('template/google/fonts/open-sans-v15-latin/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
